/*Fuentes que utilizaremos
font-family: 'Montserrat', sans-serif;
 *Paleta de colores:
Botones, hover: #FF00BF;
Fondo de footer: #333447;
Título del formulario: #352384;
Texto del formulario: #728099;
Gradiente morado: linear-gradient(#76278F, #2B1E66);
*/

* {
  font-family: 'Montserrat', sans-serif;
  margin: 0px;
  padding: 0px;
}

.encabezado img {
  width: 100%;
}

li a {
  z-index: 1000;
  color: white;
}

li {
  width: 100px;
  text-align: center;
  float: left;
}

ul {
  position: relative;
  overflow: auto;
  bottom: 60px;
}


.amplify{
  position: relative;
  float: left;
}

.good{
  position: relative;
  float: left;
}

.june{
  position: relative;
  float: right;
}